<div>
    
    <h4 style="color: brown;" >Hey <%= post.user.name %>!</h4>

    <p style="color: darkblue;" >Oh wow, <%= like.user.name %> has liked your Post! :-) </p>

    <div style="background-color: aliceblue;" >
        <p style="font-family: sans-serif; color: darkslateblue;">
            <%= post.content %>
        </p>
    </div>

</div>