<link rel="stylesheet" href="<%= staticPath('css/home.css') %>">


<!-- body -->

<main style="background-color: aliceblue; height: 87vh; ">

        <h1 style="position: relative; top: 30px">Welcome To the Cordial <%= title %> Page</h1>

        

</main>


<!-- body end -->


<%- include('_footer'); -%>