<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="/css/home.css">
<h1>Welcome To the Cordial <%= title %> Page</h1>
<div style="display: flex;justify-content: space-evenly;">
        <div>
                <h3>Go To sign in Page</h3>
                <div><a class="btn btn-primary" href="/authentication/sign-in" role="button">sign-in</a></div>
        </div>
        <div>
                <h3>Go To sign up Page</h3>
                <div><a class="btn btn-success" href="/authentication/sign-up" role="button">sign-up</a></div>
        </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>