<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Welcome to the sign in page</h1>
            <h5 class="mt-5 me-5 d-inline-block">New to Cordial? Create an Account :=>
                <a class="btn btn-success ms-4" href="/authentication/sign-up" role="button">sign-up</a>
            </h5>
            <h5 class="ms-5 mt-5 d-inline-block"> Log in or Sign Up by google :=>
                <a class="btn btn-danger ms-4" href="/authentication/google" target="_blank" role="button">Google</a>
            </h5>
        </div>
    </div>
    <div class="container  w-50 mt-5">
        <div class="row bg-light pt-4 pb-4">
            <div class="col-12">

                <!-- form starts here -->
                <form class="text-center" action="/authentication/create-session" method="post">

                    <div class="mb-3 row">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Email @</span>
                            <input type="email" id="email" name="email" class="form-control" placeholder="example@email.com" aria-label="Username" aria-describedby="basic-addon1">
                          </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Password</span>
                            <input type="password" id="password" name="password" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <input class="btn btn-primary " type="submit" value="Log in">
                    <a href="/authentication/forgot_password" class="d-block mt-2"><button class="btn btn-link" type="button">Forgot Password?</button></a>
                        
                    
                </form>
            </div>
        </div>
    </div>


</div>


<%- include('_footer'); -%>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>