<link rel="stylesheet" href="/css/signUp.css">

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Welcome to the Sign Up page</h1>
        </div>
    </div>
    <div class="container  w-50 mt-5">
        <div class="row bg-light pt-4 pb-4">
            <div class="col-12">
                <!-- form starting here -->
                <form action="/authentication/create" method="post">

                    <div class="mb-3 row">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Full Name</span>
                            <input type="text" id="name" name="name" class="form-control" placeholder="Full Name"
                                aria-label="Username" aria-describedby="basic-addon1" required>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Email @</span>
                            <input type="email" id="email" name="email" class="form-control"
                                placeholder="example@email.com" aria-label="Username" aria-describedby="basic-addon1"
                                required>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Password</span>
                            <input type="password" id="password" name="password" class="form-control"
                                aria-label="Username" aria-describedby="basic-addon1" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Confirm Password</span>
                            <input type="password" id="retype-password" name="retype-password" class="form-control"
                                aria-label="Username" aria-describedby="basic-addon1" required>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-outline-success">Create Account</button>
                </form>
            </div>
        </div>
    </div>


</div>

<%- include('_footer'); %>



<script src="/js/signUp.js"></script>