<div>
    <p>Hey <%= user.name %>! Don't worry.</p>
    <h5>Just click on the following Button to reset the password</h5>
    <a href="http://localhost:8000/authentication/forgot_password/reset_password/?access_token=<%= accessToken %>"><button type="button">Reset Password</button></a>
</div>