<div class="card w-100 bg-light">
    <div class="card-body">
        <h3 class="border-bottom pb-2">Friends</h3>
    <% for(u of all_users){ 
        
        if(locals.user.id == u.id){
            continue;
        } %>

        <p>
            <a class="text-decoration-none" href="profile/<%= u.id %>">
                <h6 class="text-start">
                    <img src="/images/header profile image/images.png" style="height: 30px;width: 30px; border-radius: 50%; margin-right: 10px;" alt="">
                    <%= u.name %>
                </h6>
            </a>
        </p>
    <% } %>
    </div>
</div>