<form action="/users/feed/post" method="POST" id="newPostForm" enctype="multipart/form-data">
    <div class="container border-2 border bg-white">
        <div class="row mb-2">
            <div class="col-12">
                <h4 class="mt-2">New Post</h4>
                <div class="input-group">
                    <span class="input-group-text">
                        <label for="">
                        </label>
                        <img src="<%= locals.user.avatar %>"
                            style="display: inline; height: 30px;width: 30px; border-radius: 50%;"
                            alt="">
                    </span>
                    <textarea class="form-control bg-light" name="content"
                        placeholder="What's on your mind, <%= user.name%> ?"
                        aria-label="With textarea" required></textarea>
                </div>
                <div class="input-group mt-2">
                    <span class="input-group-text" id="basic-addon1">Image</span>
                    <input type="file" id="user-image-upload" name="image" class="form-control "
                        placeholder="upload pic" aria-label="Username" aria-describedby="basic-addon1"
                    >
                </div>
            </div>
        </div>
        <div class="row border-top py-2 ">
            <div class="col-4 d-flex justify-content-center " style="width: 100%;">
                <button type="submit" class="btn btn-primary me-3"> &nbsp; Post &nbsp; </button>
                <button type="button" class="btn btn-outline-secondary previewImgBtn me-3" data-bs-toggle="modal" data-bs-target="#exampleModal-image">Preview Image</button>
                <div class="modal fade" id="exampleModal-image" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="exampleModalLabel">Preview Image</h4>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="" id="previewImgModal" style="max-width: 300px; max-height: 300px;" alt="Preview Image">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-outline-dark">Save</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</form>

<script src="<%= staticPath('js/feed/_Post.js') %>"></script>
<script src="<%= staticPath('js/feed/_newPost.js') %>"></script>