<div class="container-fluid  w-100 h-100 pt-5 mt-0">
    <div class="row bg-light pt-4 pb-4">
        <div class="col-12 d-flex justify-content-center">
            <div class="card d-block w-50 text-center" >
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h4 class="text-center text-secondary">Reset Password</h4></li>
                    <li class="list-group-item">
                        <p class="fs-5 mb-0">
                            Please enter the new password.
                        </p>
                    </li>
                    <form class="text-center" action="/authentication/forgot_password/reset_password/set/?access_token=<%= accessToken %>" method="post">
                        <li class="list-group-item">
                            <div class="mb-3 row">
                                <div class="input-group mt-3">
                                    <span class="input-group-text" id="basic-addon1">Password</span>
                                    <input type="password" id="password" name="password" class="form-control"
                                        aria-label="Username" aria-describedby="basic-addon1" required>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="input-group mt-2 mb-2">
                                <span class="input-group-text" id="basic-addon1">Confirm Password</span>
                                <input type="password" id="retypePassword" name="retypePassword" class="form-control"
                                    aria-label="Username" aria-describedby="basic-addon1" required>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <input class="btn btn-outline-success" type="submit" value="Save">
                        </li>
                    </form>
                </ul>
            </div>
            
        </div>
    </div>
</div> 




    

